@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: auto;
    padding: 0;
    border: none;
 }

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    text-align: center;
    }

h3 {
    text-align: center;
}

#logo {
    position: relative;
    font-size: 280%;
    margin-left: 30px;
    text-align: center;
}

/* navigation links */

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 225%;
}

.menu, #logo {
    line-height: 100px;
}

.menu li {
flex-grow: 1;
flex-shrink: 1;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
    background-color: rgb(113, 18, 238, 0.1);
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#join {
    text-align: center;
    line-height: 80px;
}
#cover-text, #cover-text h2 {
    color: whitesmoke;
    text-align: center;
    position: absolute;
   }

#hero-image {
    height: 650px;
    width: 100%;
    background: url(../css/images/new-hero.jfif) no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 9s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(2);
    }
}

#cover-text {
    font-size: 125%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 300px;
    height: 200px;
    padding-left: 20px;
    padding-top: 100px;
    background-color: rgba(113, 18, 238, 50);
    bottom: 30px;
    right: 100px;
    position: absolute;
    border-radius: 50%;
    line-height: 90px;
}

#intro {
    position: relative;
    text-align: center;
    margin: 20px 0;
    font-size: 180%;
    letter-spacing: 2px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    }

#new-page-intro {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    margin: 20px;
    font-size: 280%;
    text-align: center;
}

.main-sections {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 600px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    font-size: 55px;
    font-weight: 1000;
}      

.homepage-container {
    display: flex;
    margin: 2em;
    padding: 0;
    flex-direction: row;
    text-align: center;
}

.homepage-anchors-row {
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
}

.homepage-anchors-column {
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex: 1;
}

    /* new cockaparents page*/

#new-cockaparents {
        background-image: url('../css/images/new-new-cockaparents.jfif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 750px;
        overflow: hidden;
        float: center;
        color: rgb(113, 18, 238);
        height: 600px;
        outline: solid;
}

article.new-cockaparents-text {
    background-color: rgba(113, 18, 238, 0.103);
}

article.new-cockaparents-text-2 {
    background-color: rgba(169, 169, 169, 0.199);
}

.container-new-cockaparents {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    text-align: center;
}

.new-cockaparents-text {
    text-align: center;
    line-height: 40px;
    font-size: 30px;
           
    align-items: center;
    margin-bottom: 25px;
    justify-items: center;

    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 100px;
    margin: inherit;
}

article.new-cockaparents-text-2 ul {
    list-style: none;
}
.new-cockaparents-text-2 {
    text-align: center;
    line-height: 45px;
    font-size: 30px;
   
    align-items: center;
    margin-bottom: 25px;
    justify-items: center;
   
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 100px;
    margin: inherit;
}

article.new-cockaparents-text-3 {
    margin-top: 25px;
}

/*Keep Your Poo Healthy page*/


#keep-your-poo-healthy {
    background-image: url('../css/images/healthy-boy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 750px;
    overflow: hidden;
    height: 600px;
    outline: solid;
    color: #fafafa;
    outline-color: #3a3a3a;
}

.container-keep-your-cockapoo-healthy {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.keep-your-poo-healthy-text {
    text-align: center;
    line-height: 40px;
    font-size: 30px;
           
    align-items: center;
    margin-bottom: 25px;
    justify-items: center;

    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 100px;
}

#join-cockapoo-club {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    margin: 20px;
    font-size: 180%;
    text-align: center;
    float: none;
}

/*map*/



.mapouter {
    text-align: center;
    height: 600px;
    width: 600px;
}

.text-center {
    color: #252525;
    line-height: 1;
    inline-size: -webkit-fill-available;
    font-weight: 100;
    margin-top: 20px;
}

#free-supports {
    font-size: large; 
    outline-style:groove; 
    outline-width: thin;
    width: 650px; 
    outline-color: blueviolet;
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style: none;
    font-size: 30px;
}

table {
    padding-bottom: 20px;
    overflow-x:auto; 
    border-spacing: 20px;
}

#or {
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    margin-top: 25px;
    }

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
    font-size: larger;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: rgb(113, 18, 238);
}

/*Join page*/

#join-text {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: white;
    }

#furry-fun-fotos-join {
    margin-bottom: 25px;
    color: #252525;
}

.form-section {
    clear: left;
    background-image: url("../css/images/benji-couch2.jfif");
    background-size: cover;
    background-position: center;
    height: 900px;
   }

.choose {
        line-height: 2;
        font-size: large;
 }

.signup-form {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: sticky;
    left: 10%;
    padding: 30px;
    text-align: center;
    margin-top: 30px;
}

#simply {
    margin-bottom: 35px;
    text-align: center;
    font-size: 25px;
    padding: 30px;
    margin: 0;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: rgb(113, 18, 238);
}

.join-button {
    margin-top: 20px;
    margin-left: 55px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 150%;
    background-color: rgb(113, 18, 238);
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: rgb(113, 18, 238);
}

::placeholder {
color: rgb(113, 18, 238);;
text-align: center;
}

.signup-form label {
    font-size: 20px;
    font-weight: 800;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*furry-fun-fotos-gallery page*/

.fun-fotos {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

#furry-fun {
    background-image: url('../css/images/furry-fun.jfif');
    background-repeat: no-repeat;
    background-position: center;
    width: 750px;
    overflow: hidden;
    text-align: left;
    font-size: 55px;

    text-decoration-color: whitesmoke;
    outline-color: rgb(113, 18, 238);
    outline-style: solid;
} 
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}