@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
 }

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    position: relative;
    font-size: 280%;
    margin-left: 30px;
    text-align: center;
}

/* navigation links */

#menu {
    font-size: 125%;
    letter-spacing: 2px;
    margin-right: 350px;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 75px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#join {
    text-align: center;
}
#cover-text, #cover-text h2 {
    color: whitesmoke;
    text-align: center;
    position: absolute;
   }

#hero-image {
    height: 650px;
    width: 100%;
    background: url(../css/images/new-hero.jfif) no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 125%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 300px;
    height: 200px;
    padding-left: 95px;
    padding-top: 95px;
    background-color: rgba(113, 18, 238, 50);
    bottom: 30px;
    right: 150px;
    position: absolute;
    border-radius: 50%;
}

#intro {
    position: relative;
    text-align: center;
    margin: 20px 0;
    font-size: 180%;
    letter-spacing: 2px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    }

#new-page-intro {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    margin: 20px;
    font-size: 180%;
    text-align: center;
}

.main-sections {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 400px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    font-size: 55px;
    font-weight: bold;
    }      

#new-cockaparents {
    background-image: url('../css/images/new-new-cockaparents.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    overflow: hidden;
    float: left;
    color: rgb(113, 18, 238);
}

#keep-your-poo-healthy {
    background-image: url('../css/images/healthy-boy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    overflow: hidden;
}

#furry-fun {
    background-image: url('../css/images/furry-fun.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    text-align: left;
    font-size: 55px;
    text-decoration-color: whitesmoke
  }

#map {
    display: inline-block;
    position: relative;
    padding-left: 35%;
}
.mapouter {
    border:rgb(113, 18, 238);
    padding-top: 30px;
}

#clubhouse-map {
    display: inline-block;
    position: relative;
    padding: 25px 0 25px 38%;
    font-size: 25px;
    font-weight: bold;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
    font-size: larger;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: rgb(113, 18, 238);
}